{% extends "base.html" %}

{% block content %}
<div class="row">
    {% for item in estates%}
    <div class="col-sm-2">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src={{item.image_link}}>
            <div class="card-body">
                <h5 class="card-title">{{item.name}}</h5>
                <p class="card-text">{{item.tags}}</p>
                <a href="usluga/{{item.id}}" type="button" class="btn btn-outline-dark">Купить</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}