{% extends "base.html" %}

{% block content %}
<h2>Записи на прием</h2>
<table class="table" style="margin-left: 50px">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Id записи</th>
        <th scope="col">Фото</th>
        <th scope="col">Наименование</th>
        <th scope="col">ФИО Клиента</th>
        <th scope="col">Контактный телефон</th>
        <th scope="col">Адрес</th>
        <th scope="col">Дата</th>
    </tr>
    </thead>
    <tbody>
    {% for item in info%}
    <tr>
        <th scope="row">{{item[0].id}}</th>
        <td><a class="button" href="usluga/{{item[1].id}}"><img src={{item[1].image_link}}
                                                                  style="max-width: 100px; max-height: 50px; min-width: 100px; min-height: 50px;">
        </a></td>
        <td>{{item[1].name}}</td>
        <td>{{item[0].surname}} {{item[0].name}} {{item[0].patronymic}}</td>
        <td>{{item[0].phone}}</td>
        <td>{{item[1].address}}</td>
        <td>{{item[0].date}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}